.cart-left {
    background-color: 'blue';
}

.cartItem {
    width: 100px;
    height: 100px;
    margin: 12px;
}
.card-container {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}